*{
    padding: 0;
    margin: 0;
}

body{
    font-family: arial,sans-serif;
    font-size: 13px;
    color: #222;
}

/* header */
header nav li {
    padding:8px;
    display: inline;
}

header nav {
    text-align: right;
    padding: 1.2rem;

}

header nav li a{
    text-decoration: none;
    font-weight: lighter;
    text-transform: capitalize;
}

header nav li a:visited, header nav li a:link{
    color: #000;
}
header nav li a:hover{
    text-decoration: underline;
}

/* container */
#container {
    width: 585px;
    height: 335px;
    margin: 50px auto;
    text-align: center;
}
#logo-container{
    position: relative;
    width: 500px;
    height: 150px;
    margin: 10px auto;
}

#container input[type='search']{
    border-radius: 22px;
    height: 2.8rem;
    margin: 0 auto ;
    padding: 0 0 0 15px;
    font-size: 16px;
    border: solid 1px #ddd;
    width: 585px;
    outline-color: #f2f2f2;
}

input[type="search"]:hover{
    border: solid 1px #aaa;
}

#container form>input[type="submit"]{
    margin: 30px 5px 4px 150px;
}

#container form>input[type="submit"], #container form>input[type="button"]{
    margin: 30px auto;
    width: 125px;
    height: 35px;
    text-transform: capitalize;
    color: #757575;
    background: #f2f2f2;
    border: solid 1px #f2f2f2;    
    font-weight: bold;
}

/* footer */

footer nav ul li{
    display: inline;
    padding: 15px;
}
footer {
    background: #f2f2f2;
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
}

#left-elements{
    float: left;
    padding: 12px 10px;
}

#right-elements{
    float: right;
    padding: 12px 10px;
}

.clearfix li a {
    text-decoration: none;
}

.clearfix a:hover {
    text-decoration: underline;
}